/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

 /* ============================================= */
/*              Grid System                      */
/* ============================================= */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
    display: grid;
}
.widget-container-full, .widget-container-half {
    width: 95vw;
}
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "nav main";
    }
    main {
        grid-template-columns: 50%;
    }
    .traffic, .social {
        grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}
/* ============================================= */
/*                Navigation                     */
/* ============================================= */
nav svg {
    height: 2em;
    width: 2em;
    fill: white;
}
nav {
    background-color: rgb(71, 76, 146);
    display: flex;
    justify-content: space-around;
    height: 3.75em;
    align-items: center;
    padding: 0 2em;
}
/* ============================================= */
/*              Header                           */
/* ============================================= */
header {
    display: flex;
    flex-direction: row;
    background-color: rgb(99, 105, 189);
    color: white;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    height: 4.5em;
}
header img {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    margin-right: .5em;
}
header h2 {
    margin-right: auto;
    font-weight: 400;
}
header svg {
    height: 1.5em;
    width: 1.5em;
    fill: white;
}
header h3 {
    font-weight: 300;
    font-size: 0.75em;
}
#vertical-line {
    height: 3em;
    width: 0.5em;
    border-left: 1px solid rgb(255, 253, 253);
    opacity: 0.4;
    margin-left: 0.5em;
}
.bell-svg::after {
    background-color: lime;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    content: "";
    display: inline-block;
    margin-bottom: 1.5em;
    margin-left: -.3em;
}
.bell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Social Container */
.social {
    display: flex;
    flex-direction: column;
}
.social-container {
    max-width: 90%;
    display: flex;
    flex-direction: row;
}
.social-image {
    fill: rgb(99, 105, 189);
    height: 3em;
    width: 3em;
    border-radius: 100%;
    display: block;
}
select {
    width: 90%;
}